*{
    margin: 0px;
    padding: 0px;
}
@import 'fonts';

/* header */
header{
    background-image: url(../img/headbg.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    height: 682px;
    display: flex;
    align-items: center;
    flex-direction:column;
    div{
        width: 100%;
        display: flex;
        justify-content: space-around; 
        h1{
        font-family: Carrois;
        font-size: 26px;
        color: rgb(255, 255, 255);
        margin-top: 18px;        
        }
        nav{    
            .main-nav{
                list-style-type: none;
                display: flex;
                margin-top: 13px; 
                &__item{
                    a{
                        color: rgb(255, 255, 255);
                        font-size: 11px;
                        font-family: Raleway bold;
                        margin-left: 60px;
                        padding: 11px;
                        cursor: pointer;
                        text-decoration: none;
                        &:hover{
                            box-shadow: 0px 3px rgb(255, 255, 255);
                        }
                    }
                    
                }
            }
        }
    }
    h2{
        margin-top: 174px;
        font-family: Roboto bold;
        font-size: 83px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    button{
        margin-top: 100px;
        font-family: Roboto;
        font-size: 17px;
        width: 238px;
        height: 50px;
        border-radius: 23px;
        background-color: rgb(124, 165, 217);
        color: rgb(255, 255, 255);
        border: none;
        &:hover{
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            color: rgb(124, 165, 217);
        }
    }
}
/* download */
.download{
    width: 100%;
    height: 236px;
    background-color: rgb(150, 120, 168);
    display: flex;
    align-items: center;
    flex-direction: column;
    &_1p{
        font-size: 25px;
        letter-spacing: 8px;
        font-family: Raleway L;
        color: rgb(255, 255, 255);
        margin-top: 50px;
    }
    &_2p{
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-family: Raleway SB;
        margin-top: 34px;
    }    
}
.download-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 45px;
    width: 210px;
    height: 40px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 18px;
    background-color: rgb(150, 120, 168);
    &:hover{
        cursor: pointer;
    }
    .download-btn__txt{
        font-family: Roboto L;
        font-size: 16px;
        color: rgb(255, 255, 255);
        margin-left: 16px;
    }
}
/* weDo */
.weDo{
    width: 100%;
    height: 550px;
    background-image: url(../img/weDobg.jpg);
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: right;
    div{
        margin-left: 71px;
        width: 340px;
        h1{
            span{
                font-size: 31px;
                font-family: Roboto B;
            }
            font-size: 30px;
            font-family: Raleway Th;
            margin-top: 114px;            
        }
        h2{
            font-family: Raleway SB;
            font-size: 17px;
            margin-top: 71px;
        }
        p{
            font-family: Roboto IB;
            font-size: 17px;
            color: rgb(121,121,121);
            margin-top: 28px; 
        }
        button{
            margin-top: 90px;
            border: solid 1px rgb(51, 197, 246);
            background-color: rgb(255, 255, 255);
            border-radius: 19px;
            width: 185px;
            height: 44px;
            font-family: Raleway M;
            font-size: 17px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
/* howWork */
.howWork{
    width: 100%;
    background-color: rgb(69, 182, 129);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
        width: 247px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 65px 13px 65px 13px;
        margin: 64px 5px 64px 5px;
        align-items: center;
        &:hover{
            border: dashed 2px rgb(255, 255, 255);
            border-radius: 50px;
            cursor: pointer;
        }
        p{
            margin-top: 28px;
            font-family: Roboto B;
            color: rgb(255, 255, 255);
            text-align: center;
        }
    }
}
/* joinUs */
.joinUs{
    &__white{
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img{
            position: relative;
            z-index: 2;
            top: 101px;            
        }
        .iPhone{
            margin-left: -156px;
            margin-bottom: -24px;
        }
    }
    &__blue{
        background-color: rgb(104, 142, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 174px;
        .joinUs__blue-title{
            font-family: Raleway L;
            font-size: 30px;
            color: rgb(255, 255, 255);
            letter-spacing: 10px;
        }
        .joinUs__blue-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            p{
                margin: 78px 58px;
                color: rgb(255, 255, 255);
                font-family: Raleway Th;
                text-align: center;
                span{
                    font-family: Roboto bold;
                } 
            }            
        }
    }
}